
<div class="header-menu-group js-menu-title">
    <p class="title"><i class="icons icon-search"></i>  DANH MỤC</p>

    <div class="menu-list d-none">
        <vc:categories></vc:categories>
    </div>
</div>
