<div id="AppVueCategory" class="row">
    <div class="col-12 row">
        <div class="col-3"><div v-on:click="AddCategory()" class="btn btn-success">Thêm danh mục</div></div>
    </div>
    <div class="container mt-lg-2 col-12">
        <table class="table table-striped" id="tableCategory">
            <thead class="text-dark">
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Icon</th>
                    <th class="text-center">Tên danh mục</th>
                    <th class="text-center">Slug</th>
                    <th class="text-center">Danh mục phụ</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tr v-for="(item, index) in data">
                <td class="text-center">{{index+1}}</td>
                <td class="text-center"><img :src="item.icon" /></td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">{{item.slug}}</td>
                <th class="text-center text-wrap"><span class="btn btn-info opacity-5" v-on:click="ViewSubCate(item.id)"><i class="fa fa-bars"></i></span></th>
                <td class="text-center">
                    <span class="btn btn-warning" v-on:click="EditCategory(item.id)">Cập nhật</span>
                    <span class="btn btn-danger" v-on:click="DeleteCategory(item.id)">Xóa</span>
                </td>
            </tr>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    var AppVueCategory = new Vue({
        el: "#AppVueCategory",
        data: {
            data: [],
            mountDataTable: false,
            currentViewCate:0,
        },
        computed: {

        },
        mounted() {
            this.initData();
        },
        methods: {
            initData() {
                fetch("/Admin/Category/GetData")
                    .then(res => res.json())
                    .then(data => {
                        this.data = data.object;
                        dataTableJS("tableCategory")
                    })
            },
            AddCategory() {
                $("#SmallModelContent").load(`/Admin/Category/AddData`, function () {
                    $("#staticSmallModel").modal("show");
                    $("#staticSmallModellTitle").html("Thêm danh mục mới")
                    $("#ParentId").val(0)
                })
            },
            EditCategory(id) {
                $("#SmallModelContent").load(`/Admin/Category/EditData?id=${id}`, function () {
                    $("#staticSmallModel").modal("show");
                    $("#staticSmallModellTitle").html("Cập nhật danh mục")
                })
            },
            DeleteCategory(id) {
                let custhis = this;
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa ?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    showCancelButton: true,
                    cancelButtonText: "Hủy",
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/Admin/Category/DeleteCategory?id=${id}`, {
                            method: "DELETE"
                        })
                            .then(res => res.json())
                            .then(data => {
                                if (data.statusCode) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: "Thành công",
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then((res) => { custhis.initData() });
                                }
                            })
                    }
                })
            },
            ViewSubCate(id) {
                this.currentViewCate = id;
                $("#BigModelContent").load(`/Admin/Category/SubCategory?id=${id}`, function () {
                    $("#staticBigModellTitle").html("Danh mục phụ")
                    HiddenSave()
                    $("#staticBigModel").modal("show");
                })
            }
        }
    })


    function SaveSmall() {

        var _data = new FormData()
        _data.append("Id", $("#Id").val())
        _data.append("ParentId", $("#ParentId").val())
        _data.append("CreatedDate", $("#CreatedDate").val())
        _data.append("Name", $("#Name").val())
        _data.append("Slug", $("#Slug").val())
        _data.append("IconFile", document.getElementById("IconFile").files[0])

        fetch("/Admin/Category/SaveData", {
            method: "POST",
            headers: {
                processData: false,
                contentType: false,
            },
            body: _data
        })
            .then(res => res.json())
            .then(data => {
                $('#staticSmallModel').modal('hide');
                Swal.fire({
                    title: "Thành công",
                    icon: 'info',
                }).then(res => {
                    let dataTable = $('#tableCategory').DataTable();
                    dataTable.rows.add(data.object).draw();
                });
            })
    }

    function generateSlug(e) {
        let text = event.target.value;
        if (text != null) {
            let str = text.normalize('NFD').replace(/[\u0300-\u036f]/g, '');

            const replacements = {
                "đ": "d",
                "Đ": "D"
            };

            str = str
                .replace(/đ/g, 'd')
                .replace(/Đ/g, 'D')
                .toLowerCase()
                .replace(/ /g, '-')
                .replace(/[^\w-]+/g, '');

            document.getElementById("Slug").value = str;
            //return str;
        }

    }

</script>