<div class="customer-page bg-white">
    <div class="container">
        <div class="p-10" style="padding: 20px 10px;">
            <form action="/ajax/reset_password_request.php" method="post" enctype="multipart/form-data">

                <h2 class="text-24 font-700">Bạn quên mật khẩu vào tài khoản?</h2>

                <p>Vui lòng nhập địa chỉ email đã đăng ký với chúng tôi để tạo mật khẩu mới. Chúng tôi sẽ gửi 1 email vào địa chỉ email cung cấp và yêu cầu xác minh trước khi có thể tạo mật khẩu mới</p>

                <table>
                    <tbody>
                        <tr>
                            <td>Nhập địa chỉ email đăng ký</td>
                            <td>
                                <input type="email" size="40" name="email" id="email_register" class="form-control">
                                <span class="red d-block" id="js-mess">  </span>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><input type="button" onclick="forgotPassword();" class="bg-green btn btn-primary text-uppercase mt-3 text-white border-0" style="height: 36px" value="Lấy mật khẩu"></td>
                        </tr>
                    </tbody>
                </table>

            </form>
        </div>

    </div>
</div>