<div class="content_wrap fullwidth bg-white text-center">
    <p class="error_title font-800">404</p>
    <p class="error_subtitle">Nội dung không tìm thấy hoặc đã bị xóa bỏ!</p>
    <a href="/" class="green text-18"><i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i> Quay lại trang chủ </a>
</div>